.blogs-container{
    display: flex;
    justify-content:space-around;
}
.blogOne{
    text-align: center;
    width: 400px;
    background-color: orange;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}