.review-title{
    color:rgb(255, 181, 43) ;
    background-color: black;
    font-size:30px;
    width: 400px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}
.all-review{
    width: 300px;
    background-color: rgb(255, 181, 43);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    
}
.for-flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}